.footer{
    position: relative;
    bottom: 0;
    height: 7vh;
    line-height: 7vh;
    /* letter-spacing: 1vh; */
    width: 100%;
    background-color: transparent;
    color: black;
}

.fa{
    color: black;
}

a{
    text-decoration: underline;
    display: inline-block;
    color: black;
}
a:hover{
    text-decoration: none;
}

