<!-- <div class="carousel">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img src="../../assets/images/contact.jpeg" class="img-responsive">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-md-offset-2 col-sm-offset-2 col-lg-offset-2">
      <div class="text-center">
        <h2 class="brand">hmntkmr</h2>
        <img src="https://source.unsplash.com/po7nbkEBEgM/400X400" class="img-responsive">
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="text-center">
        <h2>Maps</h2>
        <img src="https://source.unsplash.com/po7nbkEBEgM/400X400" class="img-responsive">
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Contact Us</h1>
        <form action="" class="center-block">
          <input type="text" placeholder="First Name">
          <input type="text" placeholder="Last Name">
          <input type="text" placeholder="Email">
          <button type="button" class="btn btn-default">Go!</button>
        </form>
      </div>
    </div>
  </div>
</div> -->

