
<div class="text-container">
    <img src="https://source.unsplash.com/EZSm8xRjnX0/1440x300" alt="header image" class="img-responsive">
    <div class="text-overlay">
      <p>Profile</p>
    </div>
    </div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. At laboriosam natus assumenda voluptatibus molestias odit quod aperiam adipisci voluptates et sequi voluptate, cumque aspernatur vel, fuga corporis explicabo ab officia?</p>
</div>

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <img src="https://source.unsplash.com/EZSm8xRjnX0/1440x300" class="img-responsive">
</div>

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <img src="https://source.unsplash.com/EZSm8xRjnX0/1440x300" class="img-responsive">
</div>

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. At laboriosam natus assumenda voluptatibus molestias odit quod aperiam adipisci voluptates et sequi voluptate, cumque aspernatur vel, fuga corporis explicabo ab officia?</p>
</div>