<!-- It is a profile page -->


<!-- jumbotron -->

<div class="positioning">
  <div class="jumbotron">
    <div class="media container">
      <div class="media-left media-middle">
        <img class="media-object img-rounded " src="../../assets/images/profile-picture.jpg" style="height: 200px; width: 200px;"
          alt="...">
      </div>
      <div class="media-body media-right">
        <h1 class="media-heading">Hemant Kumar</h1>
        <h2>Front End Developer</h2>
        <h3>Toronot, ON</h3>
      </div>
    </div>
  </div>

  <!-- jumbotron Ends -->

  <!-- Pills -->

  <div class="container">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li role="presentation" class="active">
        <a href="#education" aria-controls="education" role="tab" data-toggle="tab">Education</a>
      </li>
      <li role="presentation">
        <a href="#skills" aria-controls="skills" role="tab" data-toggle="tab">Skills</a>
      </li>
      <li role="presentation">
        <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Experience</a>
      </li>
      <li role="presentation">
        <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Professional Developement</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active fade in active " id="education">
        <div class="page-header">
          <h1>
            <u>Education</u>
          </h1>
          <h2>Business Intelligence and System Infrastructure
            <small>
              <span>Algonquin College</span>
              <span class="pull-right">2016</span>
            </small>
          </h2>
          <h2>Interactive Media Management
            <small>
              <span>Algonquin College</span>
              <span class="pull-right">2015</span>
            </small>
          </h2>
          <h2>Bachelors of Computer Application
            <small>
              <span>Panjab University</span>
              <span class="pull-right">2014</span>
            </small>
          </h2>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="skills">
        <h1>
          <u>Skills</u>
        </h1>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="messages">
        <h1>
          <u>Experience</u>
        </h1>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="settings">
        <h1>
          <u>Certifications</u>
        </h1>
      </div>
    </div>

  </div>
</div>