 
@font-face{
    font-family: "Autograf";
    src: url("../../assets/fonts/Autograf.ttf");
}


.brand{
    font-family: "Autograf";
    font-size: 7vw;
    color: rgba(24, 22, 22, 0.911);
}

.navbar-toggle .icon-bar{
    background-color: black;
}

ul>li{
    padding-right: 0.5em;
}

ul>li>button{
    background-color: transparent;
    border-color: black;
}
ul li a {
    color:black;
    text-decoration: none;
}

.nav>li>a:focus, .nav>li>a:hover{
    text-decoration: none;
    background-color: transparent !important;
}


