/* You can add global styles to this file, and also import other style files */

/* importing font */
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');


@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700');

@font-face{
    font-family: "Halimun";
    src: url("assets/fonts/Halimun.ttf");
}

@font-face{
    font-family: "Lunabar";
    src: url("assets/fonts/luna-bar.ttf");
}

@font-face{
    font-family: "Handwrite";
    src: url("assets/fonts/Handwrite.ttf");
}

@font-face{
    font-family: "Thau";
    src: url("assets/fonts/Tahu.ttf");
}

@font-face{
    font-family: "CustomFont";
    src: url("assets/fonts/Gloss_And_Bloom.ttf");
}

html{
    background-color: rgba(36, 36, 35, 0.774);
}

.positioning{
    padding-top: 5vh;
  }

.text-container{
        position: relative;
        text-align: center;
        color: black;
        font-family: 'CustomFont', cursive;
        font-size: 6vw;

}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}