

<ul class="nav navbar-nav ">
    <li data-toggle="tooltip" data-placement="bottom" title="Linkedin">
        <a href="https://www.linkedin.com/in/hmntkmr" target="_blank">
          <i class="fa fa-linkedin fa-1x"> Linkedin</i>
        </a>
      </li>
      <li data-toggle="tooltip" data-placement="bottom" title="Github">
        <a href="https://www.github.com/hmntkmr" target="_blank">
          <i class="fa fa-github fa-1x"> Github</i>
        </a>
      </li>
      <li data-toggle="tooltip" data-placement="bottom" title="Twitter">
        <a href="https://www.twitter.com/hmntkmr" target="_blank">
          <i class="fa fa-twitter fa-1x"> Twitter</i>
        </a>
      </li>      
</ul>
